@import "@/global.scss";

.main-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 165px auto 200px;

    .headerDiv {
        grid-column: 1;
        grid-row: 1;
        background-color: black;
    }

    .footerDiv {
        grid-column: 1;
        grid-row: 3;
        background-color: black;
    }

    .appWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}