.logo {
    width: 210px;
    height: 93px;
    padding-right: 5px; 
}

.mainPanel {
    display: flex;
    padding: 5px;
    background-color: black;

    .listBtn {
        display: flex;
        justify-content: center;
        // align-items: center;
        padding-top: 5px;

        button {
            color: white;
            border: 0;
            background-color: transparent;
            margin-right: 20px;
            height: fit-content;
            // margin-top: 5px;
            cursor: grab;
            font-size: larger;
            padding: 10px
        }

        .feedback {
            @extend button;

            background-color: white;
            color: black;
            // padding: 10px;
            border-radius: 10px;
            // border-radius: 30%;
        }
    }
}

.searchBar {
    padding: 10px;
    margin-left: 40px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(-15px);

    border-radius: 15px;
    background-color: #5F5D5D;
    

    .searchIcon {
        font-size: large;
        color: white;
    }

    input {
        width: 90%;
        font-size: large;
        margin-left: 10px;
        background-color: transparent;
        color:  white;
        outline: none;
        border: none;
    }
}

.mainPanelParent {
    height: 100%;
    display: block;
    background-color: black;
}