@import "@/global.scss";

.grid-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(30, 1fr);

    .grid-item-1 {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        border: 0.5px solid black;
        display: block;

        .item-panel-left {
            display: flex;
            float: left;
        }

        .item-panel-right {
            display: flex;
            float: right;

            button {
                font-size: x-large;
            }

            .vertical-divider {
                font-size: 2.5em;
                margin: 5px;
            }
        }
    }
    
    .grid-item-2 {
        grid-column: 1 / 4;
        grid-row: 3 / 25;
        border: 0.5px solid black;

        .txt1 {
            font-size: 5em;
        }
        .txt2 {
            font-size: 5em;
        }
        .txt3 {
            font-size: 2em;
        }
    }
    
    .grid-item-3 {
        grid-column: 1 / 4;
        grid-row: 25 / 31;
        border: 0.5px solid black;

        .block-div {
            display: block;

            .left-div {
                float: left;
                .flex-div1 {
                    display: flex;
                }

                .flex-div2 {
                    display: flex;
                }
            }

            .right-div {
                float: right;
                display: flex;
                
                .div-card {
                    margin: 0 15px 0 15px;
                    display: block;
                }
    
            }
        }
    }
}