
.mainPanel {
    width: 280px;
    height: 350px;
    background-color: whitesmoke;
    box-shadow: 3px 3px #888888;

    .wave {
        position: relative;
        height: 35%;
        background-color: #ebebeb;

        img{
            width: 100%;
            height: 100%;
            opacity: 0.3;
            // scale: ;
        }

        .title {
            font-size: x-large;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: black;
        }
    }

    .content {
        height: 50%;

        .tagZone {
            width: 95%;
            height: 100%;
            // background: rgba(196, 196, 196, 0.42);
            border: 2px dashed #D5D5D5;
            // margin: 0 auto;
            font-size: large;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            flex-direction: row;
    
            overflow-y: auto;
            overflow-x: hidden;
            
            .tag {
                width: fit-content;
                margin: 5px;
                padding: 5px;
                background-color: white;
                border: 4px dashed #D5D5D5;
            }
        }
    
    }

    .playNDownload {
        height: 15%;
        background-color: #bbce9f;

        .container {
            display: flex;
            padding: 10px;
            justify-content: flex-start;
            align-items: center;

            button {
                font-size: larger;
                margin-right: 5px;
            }
        }
    }
}